h2 {
  font-size: clamp(1rem, 15vw, 3.5rem);
  margin-top: 20px;
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
}

#log-in-username,
#sign-up-username {
  margin-bottom: 15px;
}

#log-in > * {
  margin: 10px;
}

form > input {
  height: 40px;
  font-size: 1.3em;
  padding-left: 20px;
}

#log-in-button {
  margin-top: 40px;
  margin-bottom: 10px;
}

button {
  align-self: center;
}

input {
  width: 100%;
}

label {
  font-size: clamp(0.8rem, 4vw, 1.5rem);
}

.switch {
  margin-top: 15px;
  margin-bottom: 30px;
  font-size: 1.2em;
  text-align: center;
  line-height: 0;
}

.switch button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 800;
  margin-top: 10px;
  padding: 0px;
  font-size: 0.8em;
}

.switch button:hover {
  transform: scale(1.05);
}

.arrow-button #left-arrow {
  transform: scaleX(-1);
}

.arrow-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 10%;
}

.arrow-button img {
  width: 8vw;
  max-width: 65px;
  -webkit-user-drag: none;
}

#left-arrow:hover {
  animation-name: slide-left;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

#right-arrow:hover {
  animation-name: slide-right;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

.character-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

#character-img {
  max-height: 170px;
  filter: drop-shadow(0 0 10px rgb(173, 153, 137));
}
