.pop-up {
  margin: 37px 0px 37px 0px;
  min-height: 90vh;
  width: 80vw;
  max-width: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: visible;
}

.pop-up header {
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.pop-up main {
  width: 80%;
  height: auto;
  font-size: 1.4em;
  color: rgb(84, 127, 170);
  /* position: relative; */
  /* margin-top: 200px; */
  /* border: 2px solid green; */
  /* margin-top: 620px; */
  /* flex-grow: 1; */
  /* overflow-y: auto; */
  /* position: absolute; */
  /* margin-top: 400px; */
  /* position: static;
  margin-top: 400px; */
  /* top: 55px; */
  /* overflow: visible; */
}

#sign-out-button {
  width: auto;
  align-self: flex-end;
  margin-top: 25px;
  margin-right: 30px;
  margin-bottom: 0;
  font-size: 1em;
  background: rgb(231, 236, 243, 0.8);
  border: 2px solid rgba(84, 127, 170);
  color: rgb(84, 127, 170);
  filter: drop-shadow(0 0 10px rgb(233, 225, 207));
}

#user-info-section {
  width: 100%;
  display: flex;
  padding-left: 80px;
  justify-content: flex-start;
  align-items: center;
  /* border: 2px solid green; */
}

#user-profile-frame {
  width: 120px;
  height: 120px;
  overflow: hidden;
  padding: 10px;
  border: 4px solid rgb(84, 127, 170);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100px;
  margin-right: 30px;
}

#user-profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  display: block;
}

#greeting-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* border: 2px solid blue; */
}

h2 {
  text-align: left;
  font-size: 3.5em;
}

#encouraging-msg {
  font-size: 1.5em;
  color: rgba(84, 127, 170, 0.8);
}

.todo-text {
  width: 85%;
  padding-left: 5px;
  /* border: 2px solid red; */
}

#task-input-and-button {
  background-color: white;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  width: 65%;
  height: 45px;
  margin-top: 15px;
  filter: drop-shadow(0 0 5px rgb(206, 198, 159));
}

#task-input {
  filter: none;
  /* background-color: blue; */
  width: 87%;
}

#add-button {
  border-radius: 25px;
  /* width: 24%; */
  /* min-width: 70px; */
  max-width: 100px;
  height: 100%;
  padding: 5px;
  font-size: 1em;
  margin-right: 0;
  filter: none;
}

li {
  list-style-type: none;
  background-color: hsla(0, 0%, 100%, 0.6);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
  padding: 5px 8px 5px 20px;
}

.task-buttons-div {
  display: flex;
  justify-content: flex-end;
}

#delete-button,
#edit-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#del-img,
#edit-img {
  width: 35px;
  height: 35px;
  margin: 2px;
  border: none;
}

#incomplete-task-list,
#completed-task-list {
  height: 80%;
  width: 100%;
  overflow: auto;
}

.completed {
  text-decoration: line-through;
  background-color: hsla(0, 0%, 76%, 0.492);
}

main > div {
  margin-top: 15px;
  margin-bottom: 15px;
}
