#to-do-page {
  /* background-color: red; */
  height: 90vh;
  max-height: 100%;
  width: 80vw;
  max-width: 100%;
}

#task-input-and-button {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  width: 90%;
  height: 22%;
  margin: 25px;
  filter: drop-shadow(0 0 5px rgb(206, 198, 159));
}

#task-input {
  filter: none;
  height: 100%;
  width: 85%;
}

#add-button {
  border-radius: 25px;
  width: 24%;
  min-width: 70px;
  max-width: 100px;
  height: 100%;
  padding: 5px;
  font-size: 1em;
  margin-right: 0;
  filter: none;
}

.lists {
  width: 90%;
  height: 100%;
  font-size: 1.7em;
  color: rgb(84, 127, 170);
}

li {
  list-style-type: none;
  background-color: hsla(0, 0%, 100%, 0.6);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px;
  padding: 5px 8px 5px 20px;
}

li label {
  gap: 10px;
  font-size: 0.7em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
}

.task-buttons-div {
  display: flex;
  justify-content: flex-end;
  /* border: 2px solid red; */
}

#delete-button,
#edit-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#del-img,
#edit-img {
  width: 35px;
  height: 35px;
  margin: 2px;
  border: none;
}

#incomplete-tasks,
#completed-tasks {
  height: 80%;
  width: 100%;
  overflow: auto;
}

.completed {
  text-decoration: line-through;
  background-color: hsla(0, 0%, 76%, 0.492);
}
