@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

body {
  background-color: rgb(203, 224, 243);
  font-family: Montserrat;
}

.enter-name input,
label {
  display: block;
}

.choose-char label {
  display: block;
}
