@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-weight: 100 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  box-sizing: border-box;
}

body {
  background-color: #addbed;
  background-image: url("/src/images/beartracks4.png");
  background-repeat: repeat-y;
  background-size: 100% auto;
  background-position: top center;
  /* min-height: 100%; */
  height: auto;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.pop-up {
  position: fixed; /* or absolute if inside a positioned container */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /*
  /* margin-top: 100px; */
  width: 70vw;
  max-width: 630px;
  background-color: rgb(244, 236, 200);
  border: 4px solid rgb(206, 198, 159);
  border-radius: 80px;
  filter: drop-shadow(0 0 15px rgb(122, 154, 159));
  padding: 15px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

#log-in {
  /* margin-top: 125px; */
}

#sign-up {
  /* margin-top: 50px; */
}

#character-img {
  width: 40vw;
  min-width: 130px;
  max-width: 240px;
  margin-top: 20px;
  padding: 5px 10px 0px 10px;
  filter: drop-shadow(0 0 15px rgb(160, 157, 157));
  animation: float 2s infinite ease-in-out;
}

#welcome-to-span {
  display: block;
  font-weight: 500;
  font-size: 0.85em;
}

h2 {
  color: rgb(84, 127, 170);
  text-align: center;
  font-size: 3.4em;
}

.auth-buttons {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.button {
  width: 60%;
  min-width: 70px;
  background-color: rgb(238, 75, 75);
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  padding: 7px;
  font-size: 1.2em;
  margin: 5px;
  height: 40px;
  filter: drop-shadow(0 0 10px rgb(219, 200, 154));
}

.button:hover {
  background-color: rgba(238, 75, 75, 0.85);
  transform: scale(1.03);
}

input {
  border: none;
  border-radius: 20px;
  font-size: 1.1em;
  padding-left: 15px;
  height: 30px;
  filter: drop-shadow(0 0 5px rgb(206, 198, 159));
}

input[type="password"] {
  font-size: 1.4em;
}

input[type="checkbox"] {
  filter: none;
  transform: scale(1.5);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
}

input:focus {
  outline: none;
}

#create-an-acc-msg {
  font-size: 3em;
}

.error-msg {
  color: rgb(238, 75, 75);
  margin-bottom: 10px;
  width: 100%;
}

.hidden {
  display: none;
}

@keyframes slide-right {
  50% {
    transform: translateX(10px);
  }
}

@keyframes slide-left {
  50% {
    transform: scaleX(-1) translateX(10px);
  }
}

@keyframes float {
  50% {
    transform: translateY(-8px);
  }
}

/* .name-input-and-button {
  width: 75%;
  min-width: 300px;
  height: 35px;
  background-color: white;
  border-radius: 25px;
  filter: drop-shadow(0 0 7px rgb(206, 198, 159));
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.name-input-and-button input {
  width: 70%;
  min-width: 200px;
  height: 100%;
  border: none;
  border-radius: 30px;
  padding-left: 15px;
  font-size: 1.1em;
}

.name-input-and-button input:focus {
  outline: none;
}

/* removed browser's autofill background color */
/* .name-input-and-button input:-webkit-autofill { */
/* -webkit-box-shadow: 0 0 0 1000px #fff inset !important; */
/* } */
